# Python

backend/venv/
backend/__pycache__/
backend/**/*.pyc
backend/**/*.pyo
backend/**/*.pyd

# Environment

backend/.env

# Node

frontend/node_modules/
frontend/.next/

# Logs

*.log

# OS

.DS_Store
Thumbs.db

# VS Code

.vscode/

# Python cache

.pytest_cache/
.mypy_cache/

# Misc

*.sqlite3